button.accent_button, input.accent_button, .accent_button
    background: $blue
    border: 0
    border-bottom: 4px solid $darkblue
    color: $white

    &:hover
        background: $red
        color: $white
        border-color: $darkred