
/*------------------------------------------------------------------------------------------------------------------------*/
// Sidebar
    
.template_sidebar_container
    background: $white 
    
    h4
        background: $cd-blue
        color: $white
        // border-bottom: 4px solid $darkblue
        border-bottom: 0
        padding: 15px
        font-family: $condensed
        letter-spacing: .5px


    > ul
        > li > a > nobr
            font-family: $condensed
            font-size: 18px
            font-weight: 600
            letter-spacing: .5px

    ul  
        li:not(:last-child)
            border-bottom: 1px solid $border
            
        li
            a
                .mdi
                    background: $darkbg
                    color: $white
                    font-size: 14px
                    border-radius: 50%
                    height: 18px
                    width: 18px
                    overflow: hidden
                    display: inline-flex
                    align-items: center
                    justify-content: center
                    padding: 0
                    opacity: 1

                    &.mdi-minus
                        background: $blue
                        opacity: 1 !important


                    &.active
                        background: $blue


/*------------------------------------------------------------------------------------------------------------------------*/
// Products
#template_center_column

    .user_content 
        margin-bottom: 10px
        background: $white
        padding: 2em

        &:first-child
            padding: 4em

        p:first-child
            margin-top: 0
        img
            display: block

        ~ p[style="clear:both;"]
            margin: 0

#template_center_column .breadcrumbs ~ .user_content:first-child
    padding: 0

.cat_outer_frame
    background: $white
    padding: 0
    position: relative
    border: 0
    margin-right: 20px
    margin-left: 0
    width: calc(33.33% - 20px)
    transition: ease all 300ms

    &:nth-child(3n)
        margin-right: 0
        width: 33.33%

    &:hover
        border: 0
        box-shadow: 0 0 20px rgba(0,0,0,.2)
        .cat_image_frame .cat_title_frame
            background-color: $blue
            color: $white
            border-bottom-color: $cd-blue


    .cat_image_frame 
        height: calc(100% - 40px)
        .cat_title_frame
            border: 0
            background-color: $white
            opacity: 1
            top: auto
            bottom: 0
            position: absolute
            border-bottom: 4px solid transparent
            transition: ease all 300ms

