body #top_wrapper.template_wrapper 
    .usp_header 
        display: block
        background: $text
        color: $white

        .contentholder
            max-width: initial
            height: initial
            .user_content
                display: flex
                justify-content: space-around
                flex-wrap: wrap
                align-items: center
                padding: 10px

                .usp-header-col
                    display: flex
                    align-items: center
                    justify-content: center
                    opacity: .9
                    width: auto
                    box-sizing: border-box

                    > span 
                        color: $white
                        font-family: $condensed
                        font-weight: 600
                        letter-spacing: .5px
                        font-size: 16px


                    > img 
                        max-height: 20px
                        width: auto
                        margin-right: 15px


@media (max-width: 990px)
    body #top_wrapper.template_wrapper 
        .usp_header 
            padding: 0
            .contentholder
                padding: 0
                .user_content
                    padding: 0
                    .usp-header-col
                        min-width: 33.33%
                        padding: 7.5px
                        flex: 1
                        
                        &:nth-child(4), &:nth-child(5)
                            display: none


    
@media (max-width: 660px)
    body #top_wrapper.template_wrapper 
        .usp_header 
            .contentholder
                .user_content
                    .usp-header-col
                        &:nth-child(2)
                            display: none


