@import './var', './header', './usp-header', './buttons', './_product-listing'

// Run "npm run dev" to start
// Open Dev Sources in Chrome - Page Sources -> Overrides -> Enable, write something into it
// Ready to go ;)

*
    font-family: $regular
    
body
    color: $text

body, .template_wrapper
    background: $lightbg